@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

:root {
    --card-width: 110px;
    --card-height: 110px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(45deg, blue, lightblue);
    font-family: 'Happy Monkey', Helvetica, Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 20px;
    width: 100%;
}

h1 {
    color: lightgray;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: rgba(0, 150, 0, 0.5);
    padding: 10px 25px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
    max-width: 500px;
}

button {
    padding: 10px 25px;
    margin: 10px 0;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: lightgray;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Game Board */
.container {
    width: var(--card-width);
    height: var(--card-height);
    overflow: hidden;
    border-radius: 25px;
}

.card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 0.6s ease-in-out;
    transform-style: preserve-3d;
    border-radius: 25px;
}

.container:hover {
    cursor: pointer;
}

.flip .card {
    transform: rotateY(180deg);
}

.front,
.back {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.front img,
.back img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}

.back {
    transform: rotateY(180deg);
}

/* Game Board */
.game-board {
    width: calc(var(--card-width) * var(--grid-width));
    height: calc(var(--card-height) * var(--grid-height));
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(var(--grid-width), 1fr);
    grid-template-rows: repeat(var(--grid-height), 1fr);
    gap: 10px;
    perspective: 1000px;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    color: lightgray;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

/* Win Banner */
#win-banner {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: rgba(255, 174, 0, 0.85);
    color: white;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid darkblue;
    font-size: 2rem;
    font-weight: bold;
    padding: 20px 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.5);
    transition: transform 0.5s ease-in-out;
}

#win-banner.show {
    transform: translate(-50%, -50%) scale(1);
}

/* Responsiveness */
@media (max-width: 821px) {
    :root {
        --card-width: 120px;
        --card-height: 120px;
    }

    body {
        justify-content: center;
        background: linear-gradient(90deg, blue, lightblue);
        gap: 2rem;
    }

    header {
        margin-top: 2rem;
        padding-bottom: 5px;
    }

    h1 {
        font-size: 1.5rem;
        padding: 5px 15px;
        margin-bottom: 2rem;
    }

    button {
        font-size: 1rem;
        padding: 5px 15px;
        margin-bottom: 0;
    }

    .game-board {
        gap: 8px;
    }

    footer {
        position: static;
        font-size:1rem;
        margin-top: 45px;
    }
}

@media (max-width: 480px) {
    :root {
        --card-width: 80px;
        --card-height: 80px;
    }
    
    body {
        display: block;
        height:auto;
        background: linear-gradient(90deg, blue, lightblue);
    }
    header {
        margin-top: 25px;
        margin-bottom: 25px;

        button {
            padding: 10px 25px;
            margin: 25px 0;
            border: none;
            border-radius: 50px;
            font-size: 1rem;
            background-color: rgba(0, 0, 0, 0.5);
            color: lightgray;
            box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
    }

    .game-board {
        gap: 5px;
    }

    footer {
        position: static;
        font-size: 0.7rem;
        margin-top: 40px;
    }
}

/* Accessibility */
.container:focus {
    outline: 2px solid #fff;
    outline-offset: 4px;
}
